{% extends "simple_page.html" %}

{% block body %}
    <H1>My family</H1>
        <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Relation</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Amine</td>
                <td>Wife</td>
                <td>33</td>
            </tr>
            <tr>
                <td>Guzel</td>
                <td>Daughter</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Kamil</td>
                <td>Son</td>
                <td>4</td>
            </tr>
        </table>
        </div>

{% endblock %}